<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ethz.inf.vs.kompose">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/konkret"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/KomposeTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PartyCreationActivity"
            android:label="Create your own Party" />
        <activity
            android:name=".ConnectActivity"
            android:label="Choose a Party" />
        <activity
            android:name=".PlaylistActivity"
            android:label="Playlist" />
        <activity
            android:name=".HistoryOverviewActivity"
            android:label="Overview of past Playlists" />
        <activity
            android:name=".HistoryDetailsActivity"
            android:label="Playlist History" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />

        <service
            android:name=".service.AndroidServerService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.YoutubeService" />
        <service android:name=".service.StorageService" />
        <service android:name=".service.StateService" />
        <service android:name=".service.NetworkService" />
        <service android:name=".service.DownloadService" />
        <service android:name=".service.SongService" />

    </application>

</manifest>